<section class="section">
    <div class="container">

        <h1>Welcome? Returning User?</h1>


        <%= link_to 'login', login_path %>

        <h2> New User? </h2>
        <%= link_to 'Register', register_path %>
    
    </div>
</section>