<section class="section">
    <div class="container">

        <% @comments.each do |comment| %>
            <p> <%= link_to comment.content, comment %> </p>
        <% end %>


    </div>
</section>
