// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome {
  font-size: 2em;
  color: chocolate  ;
}
.credentials {
  border: 4px solid grey;
  margin-right: 6.5em;
}
